{% set section_cls = 'about-us_achievement__section__jZQTd' %}

<section class="{{section_cls}}">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {% block items %}
            
        {% endblock %}
    </div>
</section>