{% if (component.title and component.imagePath) %}
    <div class="about-us_achievement__item__PJy0u flex flex-col items-center py-12 px-12 md:py-18 md:px-20 2xl:py-20 2xl:px-24">
        <div class="relative w-[260px] md:w-[280px] lg:w-[300px] h-[240px] md:h-[280px] lg:h-[300px]">
            <span style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0">
                <img alt="logo" sizes="100vw" src="{{component.imagePath}}" decoding="async" data-nimg="fill" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:contain"/>
            </span>
        </div>
        <h3 class="text-center mt-7">{{ component.title|upper }}</h3>
    </div>
{% endif %}


