# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`
#
# follows official upstream conventions:
# https://www.drupal.org/docs/develop/using-composer

# Ignore configuration files that may contain sensitive information
/itcdrupal/web/sites/*/*settings*.php
/itcdrupal/web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/itcdrupal/web/sites/*/files
/itcdrupal/web/sites/*/public
/itcdrupal/web/sites/*/private
/itcdrupal/web/sites/*/files-public
/itcdrupal/web/sites/*/files-private

# Ignore paths that may contain temporary files
/itcdrupal/web/sites/*/translations
/itcdrupal/web/sites/*/tmp
/itcdrupal/web/sites/*/cache

# Ignore drupal core (if not versioning drupal sources)
/itcdrupal/web/vendor
/itcdrupal/web/core
/itcdrupal/web/modules/README.txt
/itcdrupal/web/profiles/README.txt
/itcdrupal/web/sites/development.services.yml
/itcdrupal/web/sites/example.settings.local.php
/itcdrupal/web/sites/example.sites.php
/itcdrupal/web/sites/README.txt
/itcdrupal/web/themes/README.txt
/itcdrupal/web/.csslintrc
/itcdrupal/web/.editorconfig
/itcdrupal/web/.eslintignore
/itcdrupal/web/.eslintrc.json
/itcdrupal/web/.gitattributes
/itcdrupal/web/.htaccess
/itcdrupal/web/.ht.router.php
/itcdrupal/web/autoload.php
/itcdrupal/web/composer.json
/itcdrupal/web/composer.lock
/itcdrupal/web/example.gitignore
/itcdrupal/web/index.php
/itcdrupal/web/INSTALL.txt
/itcdrupal/web/LICENSE.txt
/itcdrupal/web/README.txt
/itcdrupal/web/robots.txt
/itcdrupal/web/update.php
/itcdrupal/web/web.config

# Ignore vendor dependencies and scripts
/itcdrupal/vendor
/itcdrupal/composer.phar
/itcdrupal/composer
/itcdrupal/robo.phar
/itcdrupal/robo
/itcdrupal/drush.phar
/itcdrupal/drush
/itcdrupal/drupal.phar
/itcdrupal/drupal

composer.lock
.editorconfig
.gitattributes
.vscode/settings.json
/itcdrupal/web/sites/default/settings.php
/itcdrupal/web/modules/contrib/
